
    <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            <p>Copyright © <%= new Date().getFullYear() %></p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // PRINT FUNCTION
        function printTable() {
            const printWindow = window.open('', '', 'height=600,width=800');
            const table = document.getElementById('bookTable');
            
            printWindow.document.write('<html><head><title>Print Table</title>');
            printWindow.document.write('<style>');
            printWindow.document.write('table { font-size: 8px; width: 100%; border-collapse: collapse; }');
            printWindow.document.write('th, td { padding: 8px; border: 1px solid #ddd; text-align: left; }');
            printWindow.document.write('@media print { table { font-size: 8px; } th, td { padding: 5px; } .exclude {display: none;} }');
            printWindow.document.write('</style></head><body>');
            printWindow.document.write(table.outerHTML); // Write the table HTML
            printWindow.document.write('</body></html>');
            printWindow.document.close(); // Close the document to prepare it for printing
            printWindow.print(); // Trigger the print dialog

            setTimeout(() => {
                let backButton = document.createElement("button");
                backButton.textContent = "Go Back";
                backButton.onclick = () => window.history.back();
                document.body.appendChild(backButton);
            }, 500);
        }

        // CALCULATE GOOD AND DAMGE FOR TOTAL NUMBER OF BOOKS
        function calculateBooks() {
            var goodBookNo = parseFloat(document.getElementById("good").value) || 0;
            var damageBookNo = parseFloat(document.getElementById("damage").value) || 0;

            var total = goodBookNo + damageBookNo;

            document.getElementById("total").value = total;
        }

        function calculateBooksModal() {
            var goodBookNo = parseFloat(document.getElementById("modGood").value) || 0;
            var damageBookNo = parseFloat(document.getElementById("modDamage").value) || 0;

            var total = goodBookNo + damageBookNo;

            document.getElementById("modTotal").value = total;
        }

        </script>
</body>
</html>