<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Textbook Tracker</title>
</head>
<body>
    <div class="hero-section">
        <div class="overlay">
            <div class="container">
                <h1 class="display-4 fw-bold">Balingasa TextBook Tracker</h1>
                <hr class="bg-light mx-auto" style="width: 50px; height: 3px; opacity: 1;">
                <div class="d-flex justify-content-center gap-3 mt-3">
                    <a href="/login" class="btn btn-outline-light btn-lg">Login</a>
                    <a href="/register" class="btn btn-light btn-lg text-dark">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>